# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

database

# serviceAccountKey.js

.env
.accountCredentials.json
# jsonToFirestore.js
.serviceAccountKey.json