//$theme := {
// 		primary: #8b679d
// 		accent: #ce93d8
//  	secondary: #FFC107
//  	info: #0D47A1
//  	warning: #ffb300
//  	error: #B71C1C
//  	success: #2E7D32
//}
@require '~vuetify/src/stylus/main.styl'

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
	margin-bottom: 0px;
}

//.noty_theme__metroui.noty_bar .noty_body {
	//font-size: 20px;
//}